#app{
  background-color: #1d2d3c;
}

.container-input{
  width: 80%;
  border: 1px solid red;
  border-radius: 20px;
  background-color: #112030;
}

.container-input input{
  width: 475px;
}


.container-dischi{
  width: 80%;
  height: 100%;
  background-color: #1d2d3c;
}

.card{
  min-height: 430px !important;
  border: 2px solid red;
  background-color: #112030;
}


.card img{
  height: 250px;
  width: 90%;
  margin: 15px auto;
}